.bg-container {
  position: relative;

  display: flex;
}
.bg {
  width: 100%;
  display: block;
}
.new {
  position: absolute;

  width: 100%;
  height: 70%;
  left: 0;
  bottom: 0;
  z-index: 17;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.clicks {
  width: 60%;
  height: 96%;
}

.background {
}
.background1 {
}
.bg1 {
  position: relative;
  z-index: -2;
}
.navbar {
  position: absolute;

  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 17;
  display: flex;

  align-items: flex-start;
}
.nav {
  height: 10vh;
  width: 100%;

  display: flex;
}
.nav-links {
  width: 68%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-toggler {
  margin-left: 20px;
  display: none;
}
.navlink ul {
  display: flex;
  list-style: none;
}
.navlink ul li {
  margin-right: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
}
.navlink ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.im2 {
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}
.im2 img {
  width: 215px;
}

.background2 {
  position: relative;
}
.infos {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
}
.infos .drop {
  max-width: 500px;
  margin-left: 180px;
  margin-top: 100px;
}
.links {
  margin-top: 20px;
  margin-left: 180px;
}
.links img {
  height: 50px;
  margin-right: 20px;
}
.viewon {
  margin-left: 180px;
  margin-top: 30px;
  width: 250px;
  height: 60px;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.viewon img {
  height: 40px;
}
.im3 {
}
.respbg {
  display: none;
}

.box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.man-c {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  display: flex;
  z-index: 10;
  justify-content: flex-end;
}
.test {
  position: absolute;

  width: 100%;
  height: 100%;
  display: flex;

  justify-content: flex-end;
  align-items: center;
  left: 0;
  bottom: 0;
}
.test img {
  margin-top: 130px;
  max-width: 50vw;
}

.box .man {
  height: 80%;
}
.box .respman {
  display: none;
}

@media screen and (max-width: 700px) {
  .nav {
    position: fixed;
  }
  .nav-links {
    justify-content: flex-start;
  }

  .nav-toggler {
    display: block;
    z-index: 1;
  }
  .navlink {
    position: fixed;
    top: 0vh;
    right: 0;
    height: 100vh;
    width: 50vw;
    background: #fc9e9e;
    flex-direction: column;
    transform: translatex(-100%);
    transition: 0.5s;
  }

  .nav__active {
    transform: translatex(-500%);
  }

  .navlink ul {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    margin-left: 35px;
  }
  .navlink ul li {
    margin: 10px 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

    font-size: 24px;
    font-weight: 100;
  }
  .navlink ul li a {
    text-decoration: none;
  }

  .nav-toggler {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background: #fbb301;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-toggler .line1 {
    margin-top: 3px;
    width: 20px;
    height: 2px;
    background-color: black;
  }

  .infos {
    top: 600px;
  }
  .infos .drop {
    max-width: 400px;
    margin-left: 60px;
    margin-top: 10px;
  }
  .links {
    margin-top: 30px;
    margin-left: 100px;
  }
  .links img {
    height: 40px;
    margin-right: 30px;
    margin-top: 20px;
  }
  .viewon {
    width: 300px;
    margin-left: 90px;
  }
  .bg1 {
    position: relative;
    z-index: -2;
  }
  .g {
    height: 90vh;
  }
  .im2 img {
  }
  .im2 img {
    width: 180px;
  }

  .test {
    display: flex;
    justify-content: flex-end;
  }
  .test img {
    margin-bottom: 480px;
    width: 100%;
    max-width: 350px;
  }

  .bg {
    width: 100%;
    display: none;
  }
  .respbg {
    width: 100%;
    display: block;
  }
  .box .man {
    display: none;
  }
  .box .respman {
    display: block;
    margin-top: 20px;
    height: 620px;
  }
}
